<a href="https://colab.research.google.com/github/faustolucena/aulas/blob/main/list_comprehension.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#list comprehension
# o valor de x não é criado
lista = range(1,11)
quadrados = [x**2 for x in lista] # for, if, else
print(quadrados)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
#dividir um numero qualquer por 2
numeros = [1, 3, 5, 7, 9]
metades = [n/2 for n in numeros]
print(metades)

[0.5, 1.5, 2.5, 3.5, 4.5]

In [ ]:
def comeca_com_a(frase: str):
  frase = frase.lower()
  remove = [".", ",", "?", "!", "(", ")",":",";"]
  for ponto in remove:
    frase = frase.replace(ponto, "")
  frase_lista = frase.split(" ")
  lista_palavras = []
  for palavra in frase_lista:
    if palavra.startswith("a"):
      lista_palavras.append(palavra)
  return lista_palavras
frase = "Olá, meu nome é Fabiano e faço algoritmos em Python"

In [ ]:
comeca_com_a(frase)

['algoritmos']

## Exercícios

1. Faça um programa em python que receba uma frase, e crie uma lista com apenas as palavras que comecem com a letra "a". Caso não exista palavras que se iniciam com letra "a", imprima uma lista vazia.

In [ ]:
def comeca_com_a(frase: str) -> dict:
  lista_a = []
  remove = ['.', ',', '?', '!', ';', ':', '']

  for simbolo in remove:
    frase = frase.replace(simbolo, '')
  
  lista_palavras = frase.split(' ')

  for palavra in lista_palavras:
    #print (palavra[0])
    if palavra[0] == "a":
      lista_a.append(palavra)
  return lista_a

In [ ]:
comeca_com_a(frase)

['algoritmos']

In [ ]:
def comeca_com_a_comprehension(frase: str) -> dict:
  remove = ['.', ',', '?', '!', ';', ':', '']
  lista_a = []
  for simbolo in remove:
    frase = frase.replace(simbolo, '')
  
  lista_palavras = frase.split(' ')

  lista_a = [palavra for palavra in lista_palavras if palavra[0]=="a"]

  return lista_a

In [ ]:
frase = "Temos aqui umas três palavras que começam com nossa absurda primeira letra do alfabeto."

comeca_com_a_comprehension(frase)

['aqui', 'absurda', 'alfabeto']

2. Faça um programa em python que receba uma **lista** de alunos e suas respectivas notas em uma disciplina qualquer, e usando **compreensão de listas**, filtre apenas os alunos que obtiveram nota superior ou igual a 7.0. **Observação:** tanto os elementos da lista  recebida, quanto os elementos retornados, deverão ser um dicionário.

In [ ]:
alunos = []
notas = []
for i in range(6):
    aluno = input('Digite o nome do aluno: ')
    alunos.append(aluno)
    nota = float(input('Digite a nota: '))
    notas.append(nota)
    
    
{aluno: nota for aluno, nota in zip(alunos, notas) if nota >= 7}

Digite o nome do aluno: Fausto
Digite a nota: 10
Digite o nome do aluno: Lauro
Digite a nota: 09
Digite o nome do aluno: Cesar
Digite a nota: 7
Digite o nome do aluno: Seila
Digite a nota: 1
Digite o nome do aluno: maisum
Digite a nota: 4
Digite o nome do aluno: lucio
Digite a nota: 5

{'Fausto': 10.0, 'Lauro': 9.0, 'Cesar': 7.0}

**Números pares usando list compreension**

In [1]:
list = [i for i in range(11) if i%2 ==0]
print(list)

[0, 2, 4, 6, 8, 10]


**Matriz usando list comprehension**

In [2]:
matrix = [[j for j in range(3)] for i in range(3)]
print(matrix)

[[0, 1, 2], [0, 1, 2], [0, 1, 2]]